body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.heading-color{
    color: deepskyblue;          
}
h1{
    font-size: 50px;
}
.flexible-sections{
    display: flex;
    margin-bottom: 100px;
}
.divisions{
    width: 50%;
    padding-left: 8%;
    padding-right: 5%;
}
.divisions img{
    width: 100%;
}
.buttons{
    text-decoration: none;
    background-image: linear-gradient(blue, cyan);
    padding: 10px 20px;
    box-shadow: 0px 2px 30px rgba(6, 49, 241, 0.5);
    border-radius: 100px;
    color: white;
    font-weight: 500;
    margin-top: 20px;
    display: inline-block;
}
.aboutsection{
    background-image: url(images/aboutframe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 10%;
    padding-top: 5%;
}
.aboutme{
    padding-bottom: 50px;
}
.aboutimage{
    position: relative;
}
.aboutimage img{
    width: 41%;
    position: absolute;
    bottom: 0;
}
.recipies{
    text-align: center;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}
.recipie-divs{
    height: 450px;
    width: 50%;
    box-shadow: 8px 8px 20px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    border-radius: 12px;
    padding-top: 10px;
    padding-right: 5px;
}
.recipie-divs img{
    width: 96%;
}
#counter{
    margin-bottom: 100px;
}
.followers{
    width: 90%;
    box-shadow: 10px 10px 40px #80808052;
    border-radius: 12px;
    margin: 0 auto;
    padding: 30px 0;
}
.social{
    width: 40%;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
}
.social h2{
    font-size: 35px;
    margin: 0;
    line-height: 1.2em;
}
.social p {
    margin: 0;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 40px 0;
}
footer p{
    margin: 0;
}
